<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AvrFlasherTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AvrFlasherTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AvrFlasherTool.Properties.Settings>
            <setting name="mcuSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="progSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="fileSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="saveSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="lowByteFuse" serializeAs="String">
                <value />
            </setting>
            <setting name="highByteFuse" serializeAs="String">
                <value />
            </setting>
            <setting name="exByteFuse" serializeAs="String">
                <value />
            </setting>
            <setting name="freqFuseSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="bodFuseSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="bootloaderFuseSettings" serializeAs="String">
                <value />
            </setting>
        </AvrFlasherTool.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AvrFlasherTool.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>1.0.1.5</value>
            </setting>
        </AvrFlasherTool.Properties.Settings>
    </applicationSettings>
</configuration>